@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-image: linear-gradient(to right, #1c4a3e2a,rgba(255, 0, 0, 0.100), rgba(255, 235, 170, 0.515));  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Rubik', sans-serif;
}